body {
  text-align: center;
}
#top {
  width: 800px;
  background-color: #dcc9f4;
  margin: 20px auto;
  padding: 20px 0;
}
.top-child {
  width: 20%;
  background-color: #ffd9df;
  display: inline-block;
  /* margin: 0 10px; */
}
#middle {
  width: 800px;
  height: 800px;
  background-color: #ffd9df;
  margin: 20px auto;
  position: relative;
}
#middle-child01,
#middle-child02,
#middle-child03 {
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  position: absolute;
}
#middle-child01 {
  top: 100px;
  left: 100px;
}
#middle-child02 {
  top: 300px;
  left: 300px;
}
#middle-child03 {
  top: 500px;
  left: 500px;
}
#bottom {
  width: 800px;
  height: 300px;
  background-color: #87ceeb;
  margin: 0 auto;
  position: relative;
}
#bottom-child01,
#bottom-child02,
#bottom-child03 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  /* margin: 10px auto; */
}
#bottom-child02 {
  position: relative;
  left: 200px;
}
#bottom-child03 {
  position: relative;
  left: 400px;
}
